@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/materialicons/v143/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2')
    format('woff2');
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

p,
blockquote {
  margin: 0;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}

blockquote {
  border-left: 2px solid #ddd;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

code {
  background-color: #eee;
  padding: 3px;
}

:global {
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .editable-icon {
    color: #ccc;
    margin-right: 14px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  .editable-icon-active {
    color: #000;
  }

  .editable-container {
    width: 720px;
    margin: 120px auto;
    background-color: #fff;
    overflow: hidden;
  }

  .editable-toolbar {
    display: flex;
    padding: 18px;
    border-bottom: 1px solid #eee;
  }

  .editable-content {
    position: relative;
    margin: 18px;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
